.special-blue{

    background-color: #4949d8 !important;
}



p {

    background-color: #eee;
    border: thin solid #777;
    padding: 10px;
 }

 .video-js{

    float:left;
 }

 .event-list {

    float:left;
    border: black;
    margin-left: 5px;
    width: 200px;

 }

 .control{

    clear: both;
 }




/*==================================*/



#popUp{
	display: none;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	position: absolute;
	height: 100vh;
	width: 100vw;
	margin: auto;
	z-index: 10000;
}

#popUp >div{
	position: relative;
  	align-items: center;
	justify-content: center;
 	margin: auto;
	width: 600px;

 }
#popUp >div>p {
	background-color: #4949d8;
	margin: auto;
	width: 600px;

	height: 500px;
	
 
 	align-items: center;
	justify-content: center;
	text-align: center;
}

.conteiner-player{
 	transition: 500ms;
	filter: blur(3px);
}

#test_video{
	margin: auto;
	
 

}